html, body {
	overflow-x: hidden;
}

body, .main-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-family: 'AvenirMedium', serif;
}

.soki-action.action-buy,
.soki-action.action-buy:hover,
.soki-action.action-buy:focus {
	background-color: #A1D5C9;
	color: #A1D5C9;
}
.soki-action.action-scan,
.soki-action.action-scan:hover,
.soki-action.action-scan:focus {
	background-color: #76BBD9;
	color: #76BBD9;
}
.soki-action.action-want,
.soki-action.action-want:hover,
.soki-action.action-want:focus {
	background-color: #FFC853;
	color: #FFC853;
}
.soki-action.action-love,
.soki-action.action-love:hover,
.soki-action.action-love:focus {
	background-color: #EF6E7B;
	color: #EF6E7B;
}

.main-content.with-header {
	top: 50px;
}

.page-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	background: #fff;
	overflow-y: auto;
}

.page-container.sign-in {
	background: #76bbd9;
	padding: 30px;
	color: #333;
	font-size: 1.7rem;
}

.page-container.sign-in h1 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 7rem;
	text-align: center;
	color: #fff;
	font-family: 'AvenirHeavy', serif;
}
.page-container.sign-in p {
	margin: 0;
}
.page-container.sign-in p.tagline {
	text-align: center;
	margin-bottom: 20px;
}
.page-container.sign-in .sign-in-buttons {
	min-height: 250px;
}
.page-container.sign-in .btn {
	margin-top: 10px;
	margin-bottom: 10px;
}
.page-container.sign-in .btn-twitter {
	background-color: #00aced;
	color: #fff;
}
.page-container.sign-in .btn-facebook {
	background-color: #3b5998;
	color: #fff;
}
.page-container.sign-in .btn-terms-and-conditions {
	background-color: #fff;
	border-color: #008996;
	color: #008996;
}
.page-container.sign-in .chromatrope {
	text-align: center;
	color: #fff;
	margin-top: 30px;
	font-size: 2rem;
}

.page-container.onboard {
	background: #76bbd9;
	padding: 100px 0 0;
}
.page-container.onboard .anchor-bottom {
	padding: 0 20px 20px;
}
.page-container.onboard .btn-got-it {
	background-color: #63a5c3;
	color: #fff;
}
.page-container.onboard .slide {
	min-height: 400px;
}
.page-container.onboard .slide p {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
.page-container.onboard .slide .disc {
	margin-left: auto;
	margin-right: auto;
	width: 160px;
	height: 160px;
	border-radius: 80px;
	background: #63a5c3;
	color: #fff;
	font-size: 80px;
	line-height: 160px;
}

.page-container.onboard .slide h3 {
	font-size: 3rem;
}

.page-container.onboard .carousel-indicators li {
	border-color: #63a5c3;
	width: 14px;
	height: 14px;
	margin: 1px 5px;
	transition: background-color 1s ease;
}
.page-container.onboard .carousel-indicators li.active {
	background-color: #63a5c3;
	width: 16px;
	height: 16px;
	margin: 0 4px;
}

.page-container.onboard .carousel-control {
	display: none;
}

.page-container.history {
	padding: 0;
}
.page-container.history .action-history {
	margin: 0;
}
.page-container.history .action-history-item {
	border-radius: 0;
	border-width: 1px 0;
	padding: 0;
	color: #333;
}
.page-container.history .action-history-item .action-icon {
	display: none;
}

.page-container.history .action-history-item .details {
	margin-left: 8px;
	padding: 10px 0 10px 10px;
	background: #fff;
}
.page-container.history .action-history-item .details .action-type {
	text-transform: uppercase;
	font-size: 1rem;
}
.page-container.history .action-history-item .details .description {
	font-size: 2rem;
}
.page-container.history .action-history-item .details .date {
	font-size: 0.75rem;
}
.page-container.history .action-history-item .arrow {
	float: right;
	padding: 28px 10px 0 0;
}

.page-container.product {
	margin-bottom: 60px;
	background: #ddd;
}
.page-container.product h1 {
	text-align: center;
}
.page-container.product .product-details .product-content {
	padding: 0 10px;
}
.page-container.product .product-details .product-content-youtube,
.page-container.product .product-details .product-content-image {
	padding: 0;
}
.page-container.product .product-details .product-content-link {
	background-color: #76BBD9;
	text-align: center;
	padding: 0;
}
.page-container.product .product-details .product-content-link .link {
	padding: 10px 0;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
}
.page-container.product .product-details .product-content-image img {
	width: 100%;
}
.page-container.product .product-details .product-content + .product-content {
	margin-top: 10px;
}

.product-actions .row {
	margin: 0;
}
.product-actions .soki-action {
	text-align: center;
	background-color: #f2f2f2;
}
.product-actions .soki-action .fa {
	font-size: 3rem;
	line-height: 4rem;
}
.product-actions .soki-action .action-label {
	color: #333;
	padding-bottom: 5px;
}

.popup {
	z-index: 5;
	background-color: rgba(1, 1, 1, 0.7);
}

.popup .popup-content {
	margin: 30px;
}



.navbar {
	margin: 0;
	border-width: 0 0 1px;
	border-color: #63a5c3;
	color: #fff;
	background-color: #76bbd9;
	font-family: 'AvenirBook', serif;
	z-index: 2;
}
.navbar > .row {
	margin: 0;
}

.navbar h1 {
	margin: 0;
	text-align: center;
	font-size: 3rem;
	line-height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.navbar .side-button {
	font-size: 3rem;
	text-align: center;
}
.navbar .side-button .fa {
	margin-top: 10px;
}

.anchor-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#overlay {
	z-index: 0;
	background: rgba(1, 1, 1, 0);
	transition: background-color 0.2s ease;
	-webkit-transition: background-color 0.2s ease;
}
#menu-container.shown #overlay {
	background: rgba(1, 1, 1, 0.7);
	z-index: 10;
	transition: background-color 0.2s ease;
	-webkit-transition: background-color 0.2s ease;
}
#user-menu {
	z-index: 11;
	left: 100%;
	right: auto;
	width: 80%;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	background: #333;
	padding: 0;
	border-left: 1px solid #222;
}
#menu-container.shown #user-menu {
	left: 20%;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}

#user-menu .list-group {
	margin: 0;
}

#user-menu h2,
#user-menu .list-group-item {
	background: none;
	border: 0;
	font-size: 1.5rem;
	line-height: 5rem;
	color: #fff;
	padding: 0 10px;
	margin: 0;
	font-family: 'avenirbook', serif;
	border-radius: 0;
	-webkit-border-radius: 0;
}
#user-menu .list-group-item:active {
	background: #4d4d4d;
}

#user-menu .list-group-item .menu-icon {
	float: right;
	font-size: 2.5rem;
}
#user-menu .btn {
	color: #fff;
	border-color: #555;
}
#user-menu .btn-default {
	background-color: #333;
}
#user-menu .btn-primary {
	background-color: #4d4d4d;
}

.page-container.terms-and-conditions {
	padding: 10px;
}