html, body {
	overflow-x: hidden;
}

body, .main-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-family: 'AvenirMedium', serif;
}

.soki-action.action-buy {
	background-color: #00b1b9;
	color: #00b1b9;
}
.soki-action.action-buy:hover,
.soki-action.action-buy:focus {
	background-color: #00858b;
	color: #00858b;
}
.soki-action.action-scan {
	background-color: #76BBD9;
	color: #76BBD9;
}
.soki-action.action-scan:hover,
.soki-action.action-scan:focus {
	background-color: #3b8ab7;
	color: #3b8ab7;
}
.soki-action.action-want {
	background-color: #FFC853;
	color: #FFC853;
}
.soki-action.action-want:hover,
.soki-action.action-want:focus {
	background-color: #fd9b31;
	color: #fd9b31;
}
.soki-action.action-love {
	background-color: #EF6E7B;
	color: #EF6E7B;
}
.soki-action.action-love:hover,
.soki-action.action-love:focus {
	background-color: #de3240;
	color: #de3240;
}

.main-content.with-header {
	top: 50px;
}

.page-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	background: #fff;
	overflow-y: auto;
	overflow-x: hidden;
}

.main-content.sign-in .page-container {
	background: #76bbd9;
	padding: 6%;
	color: #333;
	font-size: 1.7rem;
}

.main-content.sign-in .page-container h1 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 7rem;
	text-align: center;
	color: #fff;
	font-family: 'AvenirHeavy', serif;
}
.main-content.sign-in .page-container p {
	margin: 0;
}
.main-content.sign-in .page-container p.tagline {
	text-align: center;
	margin-bottom: 20px;
}
.main-content.sign-in .page-container .sign-in-buttons {
	min-height: 250px;
}
.main-content.sign-in .page-container .btn {
	margin-top: 10px;
	margin-bottom: 10px;
}
.main-content.sign-in .page-container .btn-twitter {
	background-color: #00aced;
	color: #fff;
}
.main-content.sign-in .page-container .btn-facebook {
	background-color: #3b5998;
	color: #fff;
}
.main-content.sign-in .page-container .btn-terms-and-conditions {
	background-color: #fff;
	border-color: #008996;
	color: #008996;
}
.main-content.sign-in .page-container .chromatrope {
	text-align: center;
	color: #fff;
	margin-top: 30px;
	font-size: 2rem;
}

.main-content.onboard .page-container {
	background: #76bbd9;
	padding: 80px 0 0;
}
.main-content.onboard .page-container .carousel-indicators {
	margin-bottom: 0;
}

.main-content.onboard .anchor-bottom {
	background: #76bbd9;
	padding: 0 20px 20px;
}
.main-content.onboard .anchor-bottom .btn-got-it {
	background-color: #3b8ab7;
	color: #fff;
}
.main-content.onboard .page-container .slide {
	min-height: 330px;
}
.main-content.onboard .page-container .slide p {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
.main-content.onboard .page-container .slide .disc {
	margin-left: auto;
	margin-right: auto;
	width: 160px;
	height: 160px;
	border-radius: 80px;
	background: #3b8ab7;
	color: #fff;
	font-size: 80px;
	line-height: 160px;
}

.main-content.onboard .page-container .slide h3 {
	font-size: 3rem;
}

.main-content.onboard .page-container .carousel-indicators li {
	border-color: #3b8ab7;
	width: 14px;
	height: 14px;
	margin: 1px 5px;
	transition: background-color 1s ease;
}
.main-content.onboard .page-container .carousel-indicators li.active {
	background-color: #3b8ab7;
	width: 16px;
	height: 16px;
	margin: 0 4px;
}

.main-content.onboard .page-container .carousel-control {
	display: none;
}

.main-content.history .page-container {
	padding: 0;
}
.main-content.history .page-container .action-history {
	margin: 0;
}
.main-content.product .page-container .action-history-item,
.main-content.history .page-container .action-history-item {
	border-radius: 0;
	border-width: 1px 0;
	padding: 0;
	color: #333;
}
.main-content.product .page-container .action-history-item .action-icon,
.main-content.history .page-container .action-history-item .action-icon {
	display: none;
}

.main-content.product .page-container .action-history-item .details,
.main-content.history .page-container .action-history-item .details {
	margin-left: 8px;
	padding: 10px 0 10px 10px;
	background: #fff;
}
.main-content.product .page-container .action-history-item .details .action-type,
.main-content.history .page-container .action-history-item .details .action-type {
	text-transform: uppercase;
	font-size: 1rem;
}
.main-content.product .page-container .action-history-item .details .description,
.main-content.history .page-container .action-history-item .details .description {
	font-size: 2rem;
}
.main-content.product .page-container .action-history-item .details .date,
.main-content.history .page-container .action-history-item .details .date {
	font-size: 0.75rem;
}
.main-content.history .page-container .action-history-item .arrow {
	float: right;
	padding: 28px 10px 0 0;
}
.main-content.history .anchor-bottom {
	padding: 20px;
}
.main-content.history .anchor-bottom button {
	font-size: 2rem;
}


.main-content.product .page-container {
	margin-bottom: 60px;
	background: #ddd;
}
.main-content.product .page-container h1 {
	text-align: center;
}
.main-content.product .page-container .product-details .product-content {
	padding: 0 10px;
}
.main-content.product .page-container .product-details .product-content-youtube,
.main-content.product .page-container .product-details .product-content-image {
	padding: 0;
}
.main-content.product .page-container .product-details .product-content-link {
	background-color: #76BBD9;
	text-align: center;
	padding: 0;
}
.main-content.product .page-container .product-details .product-content-link .link {
	padding: 10px 0;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
}
.main-content.product .page-container .product-details .product-content-image img {
	width: 100%;
}
.main-content.product .page-container .product-details .product-content + .product-content {
	margin-top: 10px;
}

.product-actions .row {
	margin: 0;
}
.product-actions .soki-action,
.product-actions .soki-action:hover {
	text-align: center;
	background-color: #f2f2f2;
	cursor: pointer;
}
.product-actions .soki-action .fa {
	font-size: 3rem;
	line-height: 4rem;
}
.product-actions .soki-action:hover .fa {
	/*color: #333;*/
}
.product-actions .soki-action .action-label {
	color: #333;
	padding-bottom: 5px;
}

.popup {
	z-index: 5;
	background-color: rgba(1, 1, 1, 0.7);
}

.popup .popup-content {
	margin: 30px;
}



.navbar {
	margin: 0;
	border-width: 0 0 1px;
	border-color: #3b8ab7;
	color: #fff;
	background-color: #76bbd9;
	font-family: 'AvenirBook', serif;
	z-index: 2;
}
.navbar > .row {
	margin: 0;
}

.navbar h1 {
	margin: 0;
	text-align: center;
	font-size: 3rem;
	line-height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.navbar .side-button {
	font-size: 3rem;
	text-align: center;
	padding: 0;
}
.navbar .side-button .fa {
	margin-top: 10px;
	width: 50px;
	cursor: pointer;
}

.anchor-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#overlay {
	z-index: 0;
	background: rgba(1, 1, 1, 0);
	transition: background-color 0.2s ease;
	-webkit-transition: background-color 0.2s ease;
}
#menu-container.shown #overlay {
	background: rgba(1, 1, 1, 0.7);
	z-index: 10;
	transition: background-color 0.2s ease;
	-webkit-transition: background-color 0.2s ease;
}
#user-menu {
	z-index: 11;
	left: 100%;
	right: auto;
	width: 80%;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	background: #333;
	padding: 0;
	border-left: 1px solid #222;
}
#menu-container.shown #user-menu {
	left: 20%;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}

#user-menu .list-group {
	margin: 0;
}

#user-menu h2,
#user-menu .list-group-item {
	background: none;
	border: 0;
	font-size: 1.5rem;
	line-height: 5rem;
	color: #fff;
	padding: 0 10px;
	margin: 0;
	font-family: 'avenirbook', serif;
	border-radius: 0;
	-webkit-border-radius: 0;
}
#user-menu .list-group-item:active {
	background: #4d4d4d;
}

#user-menu .list-group-item .menu-icon {
	float: right;
	font-size: 2.5rem;
}
#user-menu .btn {
	color: #fff;
	border-color: #555;
}
#user-menu .btn-default {
	background-color: #333;
}
#user-menu .btn-primary {
	background-color: #4d4d4d;
}

.main-content.terms-and-conditions .page-container {
	padding: 10px;
}

.main-content.history .page-container .no-history {
	padding: 10px;
	text-align: center;
}

.main-content.history .page-container .no-history .slide {
	margin-top: 20px;
}

.main-content.history .page-container .no-history .slide .disc {
	margin-left: auto;
	margin-right: auto;
	width: 160px;
	height: 160px;
	border-radius: 80px;
	background: #3b8ab7;
	color: #fff;
	font-size: 100px;
	line-height: 180px;
}

.main-content.history .page-container .no-history p {
	padding-left: 10%;
	padding-right: 10%;
	font-size: 1.7rem;
	font-weight: bold;
	color: #808080;
}

.toast-container {
	text-align: center;
	transition: height 0.5s ease, opacity 0.5s ease;
}

.toast-container.open {
	height: 30px;
	opacity: 1;
}
.toast-container.closed {
	height: 0;
	opacity: 0;
}
.toast-container.buy { background-color: #00b1b9; }
.toast-container.scan { background-color: #76BBD9; }
.toast-container.want { background-color: #FFC853; }
.toast-container.love { background-color: #EF6E7B; }
.toast-container .toast-message {
	line-height: 30px;
	color: #fff;
}

.product-history-header {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e6e6e6;
	color: #A0968B;
	background-color: #f2f2f2;
	padding: 8px;
	text-transform: uppercase;
	font-size: 16px;
}

.share-action {
	margin: 0 10%;
	background-color: #f2f2f2;
	border-bottom: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	transition: height 0.3s ease;
	overflow: hidden;
}
.share-action .share-action-contents {
	padding: 10px;
}
.share-action .share-action-contents .characters-remaining {
	float: right;
}
.share-action .share-action-contents button.disabled {
	visibility: hidden;
}
.share-action textarea {
	width: 100%;
	height: 100px;
}
.share-action textarea.ng-invalid {
	border-color: #f00;
	background-color: #fcc;
}
.share-action.closed {
	height: 0;
}
.share-action.open {
	height: 200px;
}
.share-action .share-action-contents .soki-action {
	text-align: left;
}

.main-content.debug .page-container {
	background-color: #333;
}

.main-content.debug .page-container table {
	color: #fff;
	font-family: monospace;
	margin: 0;
}
.main-content.debug .page-container table .table-col-xl {
	min-width: 1000px;
}
.main-content.debug .page-container .scroll-window {
	max-height: 400px;
}

.debug-buttons {
	padding: 10px;
	text-align: right;
}

#debug {
	font-family: monospace;
	position: absolute;
	right: 5px;
	color: #fff;
	top: 10px;
}

.scroll-window {
	overflow: auto;
}

.main-content.product-unknown .page-container {
	background: #ddd;
}
.main-content.product-unknown .page-container h1 {
	text-align: center;
}
.main-content.product-unknown .page-container p {
	padding: 0 10px;
}

/* give more vertical space/size with taller devices */
@media only screen and (min-device-height: 560px) {
	.main-content.onboard .page-container {
		padding-top: 100px;
	}

	.main-content.onboard .page-container .slide {
		min-height: 400px;
	}
}