@font-face {
	font-family: 'AvenirBlack';
	src: url('../fonts/avenir-black-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirMedium';
	src: url('../fonts/avenir-medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirBook';
	src: url('../fonts/avenir-book-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirHeavy';
	src: url('../fonts/avenir-heavy-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirRoman';
	src: url('../fonts/avenir-roman-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}