<soki-navbar ng-if="menuState" state="menuState"></soki-navbar>

<div class="main-content" ng-class="{'with-header': menuState}">
	<div class="page-container debug">
		<div class="debug-buttons">
			<button type="button" class="btn btn-info" ng-click="back()" ng-if="!menuState">Back</button>
			<button type="button" class="btn btn-warning" ng-click="clearLogs()">Clear logs</button>
			<button type="button" class="btn btn-danger" ng-click="testLog()">Test log</button>
		</div>
		<div class="scroll-window">
		<table class="table">
			<tr ng-repeat="log in logs">
				<td>{{ log.date | date:'HH:mm:ss' }}</td>
				<td>{{ log.file }}</td>
				<td>{{ log.line }}</td>
				<td class="table-col-xl">{{ log.msg }}</td>
			</tr>
		</table>
		</div>
	</div>
</div>

