<soki-navbar state="menuState"></soki-navbar>

<div class="main-content with-header history">
	<div class="page-container">
		<div class="no-history" ng-show="!history || history.length == 0">
			<div class="slide">
				<div class="disc">
					<span class="fa fa-barcode"></span>
				</div>
			</div>
			<h2>Start Scanning</h2>
			<p>
				It doesn't look like you have scanned any barcodes yet
				<br />:(
			</p>
		</div>
		<div class="action-history list-group" ng-show="history && history.length > 0">
			<a class="action-history-item soki-action action-{{event.action.present}} list-group-item" ng-repeat="event in history" ng-click="showEvent(event)">
				<div action-icon="event.action"></div>
				<div class="arrow glyphicon glyphicon-chevron-right"></div>
				<div class="details">
					<div class="action-type">{{event.action.past}}</div>
					<div class="description">{{ event.description }}</div>
					<div class="date">{{ event.date | date: 'd MMM' }}</div>
				</div>
			</a>
		</div>
	</div>

	<div class="anchor-bottom" ng-show="!history || history.length == 0">
		<button type="button" class="btn btn-info btn-block btn-lrg" ng-click="scan()">Start scanning!</button>
	</div>
</div>