<div class="main-content">
	<div class="page-container sign-in">
		<h1>soki soki</h1>
		<p class="tagline">A fast, beautiful &amp; fun way to discover more from your favourite brands and share with your friends.</p>
		<div class="sign-in-buttons">
			<div ng-hide="signingIn">
				<p>SIGN UP WITH</p>
				<button type="button" class="btn btn-lg btn-block btn-twitter" ng-click="twitterLogin()">Twitter</button>
				<p class="text-center">- OR -</p>
				<button type="button" class="btn btn-lg btn-block btn-facebook" ng-click="facebookLogin()">Facebook</button>
				<p>We will never post to your account without permission from you.</p>
			</div>
			<div ng-show="signingIn">
				Signing in...
			</div>
		</div>

		<button type="button" class="btn btn-lg btn-block btn-terms-and-conditions" ng-click="showTsAndCs()">T's &amp; C's</button>
		<p class="chromatrope">Made by Chromatrope</p>
	</div>

	<div class="page-container popup" ng-show="showTermsAndConditionsPanel">
		<aside class="popup-content panel panel-info">
			<div class="panel-heading">
				Terms and Conditions
			</div>
			<div class="panel-body text-center">
				<p>This is where terms and conditions will go</p>
				<button class="btn btn-default" ng-click="hideTsAndCs()">Close</button>
			</div>
		</aside>
	</div>
</div>

