<soki-navbar state="menuState"></soki-navbar>

<div class="main-content with-header product">
	<div class="page-container">
		<h1>{{ barcode.description }}</h1>
		<div class="product-details">
			<div ng-repeat="row in barcode.content" class="product-content product-content-{{row.type}}">
				<div ng-switch="row.type">
					<div ng-switch-when="header">
						<h2>{{row.value}}</h2>
					</div>
					<div ng-switch-when="text">
						<p>{{row.value}}</p>
					</div>
					<div ng-switch-when="image">
						<img ng-src="{{row.value}}" alt=""/>
					</div>
					<div ng-switch-when="link">
						<div class="link" ng-click="openUrl(row.value)">Find out more</div>
					</div>
					<div ng-switch-when="youtube">
						<iframe title="YouTube video player" class="youtube-player" type="text/html"
						        width="100%" height="300" ng-src="{{youtubeEmbed(row.value)}}"
						        frameborder="0" allowFullScreen></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="product-history">
			<div ng-show="barcode.history && barcode.history.length > 0">
				<div class="product-history-header">Recent activity</div>
				<div class="action-history-item soki-action action-{{row.action.present}} list-group-item" ng-repeat="row in barcode.history">
					<div action-icon="event.action"></div>
					<div class="details">
						<div class="action-type">{{row.action.past}}</div>
						<div class="description" ng-if="row.user_type == 'twitter'">@{{ row.user_name }}</div>
						<div class="description" ng-if="row.user_type == 'facebook'">{{ row.user_name }}</div>
						<div class="date">{{ row.date | date: 'd MMM' }}</div>
					</div>
				</div>
			</div>
			<div ng-hide="barcode.history && barcode.history.length > 0">
				<div class="product-history-header">No recent activity</div>
			</div>
		</div>
	</div>
	<div class="anchor-bottom product-actions">
		<div class="share-action" ng-class="share.classes()">
			<form class="share-action-contents" name="shareForm">
				<div class="characters-remaining" ng-if="maxLength">
					<span ng-if="!shareForm.share_message.$invalid">{{ share.message.length }}/{{ maxLength }}</span>
					<span ng-if="shareForm.share_message.$error.maxlength">Too many characters</span>
				</div>
				<div ng-if="share.action" class="soki-action action-{{share.action.present}}">
					<div action-icon="share.action"></div>
				</div>
				<textarea name="share_message" ng-model="share.message" ng-maxlength="maxLength" ng-required="true"></textarea>
				<div>
					<button type="button" ng-click="share.send(true)" class="btn btn-primary" ng-disabled="shareForm.share_message.$invalid"><span ng-class="shareIcon"></span> Share</button>
					<button type="button" ng-click="share.send(false)" class="btn btn-info" ng-disabled="shareForm.share_message.$invalid">Soki only</button>
					<button type="button" ng-click="share.hide()" class="btn btn-default">Cancel</button>
				</div>
			</form>
		</div>
		<div class="toast-container" ng-class="toast.classes()">
			<span class="toast-message">{{ toast.message }}</span>
		</div>
		<div class="row">
			<div class="col-xs-4 soki-action action-{{action.present}}" ng-repeat="action in actions" ng-click="performAction(action)">
				<div action-icon="action"></div>
				<div class="action-label">{{action.label}}</div>
			</div>
		</div>
	</div>
</div>